{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://recco-api.significo.dev",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Feed",
      "description": "Expose recommendation related resources for an app user."
    },
    {
      "name": "App user",
      "description": "Expose app user related resources."
    },
    {
      "name": "Recommendation",
      "description": "Expose recommendation related resources for an app user."
    },
    {
      "name": "Authentication",
      "description": "Expose authentication related resources for an app user."
    },
    {
      "name": "Metric",
      "description": "Expose metric related events for an app user."
    },
    {
      "name": "Questionnaire",
      "description": "Expose questionnaire related resources for an app user."
    }
  ],
  "paths": {
    "/api/v1/me/recommendations/rating": {
      "put": {
        "tags": [
          "Recommendation"
        ],
        "summary": "Set recommendation rating.",
        "operationId": "setRating",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRating"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/recommendations/bookmark": {
      "put": {
        "tags": [
          "Recommendation"
        ],
        "summary": "Set recommendation bookmark state.",
        "operationId": "setBookmark",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBookmark"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/questionnaire/onboarding_answers": {
      "post": {
        "tags": [
          "Questionnaire"
        ],
        "summary": "Set user app answers for the onboarding questionnaires.",
        "operationId": "onboardingAnswers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateQuestionnaireAnswer"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/questionnaire/answers": {
      "post": {
        "tags": [
          "Questionnaire"
        ],
        "summary": "Set user app answers for a questionnaire.",
        "operationId": "answers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CreateQuestionnaireAnswer"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/metric": {
      "post": {
        "tags": [
          "Metric"
        ],
        "summary": "Log event.",
        "operationId": "logEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppUserMetricEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/app_users/transient_tokens": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create a one-time PAT for the app, with a 1-minute lifespan and scoped to the supplied clientUserId.",
        "operationId": "transientTokens",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Client-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PAT"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/app_users/tokens": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create a PAT, with a lifespan of 15 days, for the clientUserId associated with the transient token.",
        "operationId": "tokens",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PAT"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/app_users/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout an app user supplying PAT's id and the associated user client id.",
        "operationId": "logout",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Client-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PATReferenceDelete"
              }
            }
          },
          "required": true
        },
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/app_users/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate an app user supplying an app PAT and the associated user client id.\n        If the user client id does not exist in the app, a new user will be registered on the fly.\n        This endpoint should be used also after the PAT expires to retrieve a new one.\n        ",
        "operationId": "login",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Client-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PAT"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me": {
      "get": {
        "tags": [
          "App user"
        ],
        "summary": "Return app user.",
        "operationId": "get",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUser"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/recommendations/tailored/topics/{topic}": {
      "get": {
        "tags": [
          "Recommendation"
        ],
        "summary": "A list of tailored recommendations filtered by topic.",
        "operationId": "getTailoredRecommendationsByTopic",
        "parameters": [
          {
            "name": "topic",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Topic"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppUserRecommendation"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/recommendations/starting": {
      "get": {
        "tags": [
          "Recommendation"
        ],
        "summary": "A list of starting recommendations.",
        "operationId": "getStartingRecommendations",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppUserRecommendation"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/recommendations/preferred": {
      "get": {
        "tags": [
          "Recommendation"
        ],
        "summary": "A list of recommendations which are improved by the preferences.",
        "operationId": "getUserPreferredRecommendations",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppUserRecommendation"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/recommendations/newest": {
      "get": {
        "tags": [
          "Recommendation"
        ],
        "summary": "A list of newest content.",
        "operationId": "getNewestContent",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppUserRecommendation"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/recommendations/most_popular": {
      "get": {
        "tags": [
          "Recommendation"
        ],
        "summary": "A list of most popular content.",
        "operationId": "getMostPopularContent",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppUserRecommendation"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/recommendations/explore/topics/{topic}": {
      "get": {
        "tags": [
          "Recommendation"
        ],
        "summary": "A list of content filtered by topic.",
        "operationId": "exploreContentByTopic",
        "parameters": [
          {
            "name": "topic",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Topic"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppUserRecommendation"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/recommendations/bookmarked": {
      "get": {
        "tags": [
          "Recommendation"
        ],
        "summary": "A list of bookmarked recommendations.",
        "operationId": "getBookmarkedRecommendations",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppUserRecommendation"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/recommendations/articles": {
      "get": {
        "tags": [
          "Recommendation"
        ],
        "summary": "Get article.",
        "operationId": "getArticle",
        "parameters": [
          {
            "name": "itemId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "catalogId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/AppUserArticle"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/questionnaire/topics/{topic}": {
      "get": {
        "tags": [
          "Questionnaire"
        ],
        "summary": "Return the associated questionnaire for a given topic.",
        "operationId": "getQuestionnaireByTopic",
        "parameters": [
          {
            "name": "topic",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Topic"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Question"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/questionnaire/onboarding_questionnaires": {
      "get": {
        "tags": [
          "Questionnaire"
        ],
        "summary": "Return the onboarding questionnaire.",
        "operationId": "onboarding",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Question"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/me/feed": {
      "get": {
        "tags": [
          "Feed"
        ],
        "summary": "Get feed sections.",
        "operationId": "getFeed",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FeedSection"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ContentId": {
        "required": [
          "catalogId",
          "itemId"
        ],
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string"
          },
          "catalogId": {
            "type": "string"
          }
        }
      },
      "ContentType": {
        "type": "string",
        "enum": [
          "articles"
        ]
      },
      "Rating": {
        "type": "string",
        "enum": [
          "like",
          "dislike",
          "not_rated"
        ]
      },
      "UpdateRating": {
        "required": [
          "contentId",
          "contentType",
          "rating"
        ],
        "type": "object",
        "properties": {
          "contentId": {
            "$ref": "#/components/schemas/ContentId"
          },
          "contentType": {
            "$ref": "#/components/schemas/ContentType"
          },
          "rating": {
            "$ref": "#/components/schemas/Rating"
          }
        }
      },
      "ApiError": {
        "required": [
          "errorCode",
          "message",
          "traceId"
        ],
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string",
            "enum": [
              "unknown",
              "resource_not_found",
              "unauthorized",
              "app_disabled",
              "bad_request",
              "conflict",
              "transient_token_already_consumed"
            ]
          },
          "message": {
            "type": "string"
          },
          "traceId": {
            "type": "string"
          }
        }
      },
      "UpdateBookmark": {
        "required": [
          "bookmarked",
          "contentId",
          "contentType"
        ],
        "type": "object",
        "properties": {
          "contentId": {
            "$ref": "#/components/schemas/ContentId"
          },
          "contentType": {
            "$ref": "#/components/schemas/ContentType"
          },
          "bookmarked": {
            "type": "boolean"
          }
        }
      },
      "CreateQuestionnaireAnswer": {
        "required": [
          "questionId",
          "questionnaireId",
          "type"
        ],
        "type": "object",
        "properties": {
          "multichoice": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "numeric": {
            "type": "number",
            "format": "double"
          },
          "questionnaireId": {
            "type": "string"
          },
          "questionId": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/QuestionAnswerType"
          }
        }
      },
      "QuestionAnswerType": {
        "type": "string",
        "enum": [
          "multichoice",
          "numeric"
        ]
      },
      "AppUserMetricAction": {
        "type": "string",
        "enum": [
          "login",
          "duration",
          "view",
          "host_app_open",
          "recco_sdk_open"
        ]
      },
      "AppUserMetricCategory": {
        "type": "string",
        "enum": [
          "user_session",
          "dashboard_screen"
        ]
      },
      "AppUserMetricEvent": {
        "required": [
          "action",
          "category"
        ],
        "type": "object",
        "properties": {
          "category": {
            "$ref": "#/components/schemas/AppUserMetricCategory"
          },
          "action": {
            "$ref": "#/components/schemas/AppUserMetricAction"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "PAT": {
        "required": [
          "accessToken",
          "creationDate",
          "expirationDate",
          "tokenId"
        ],
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "tokenId": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PATReferenceDelete": {
        "required": [
          "tokenId"
        ],
        "type": "object",
        "properties": {
          "tokenId": {
            "type": "string",
            "description": "PAT's id"
          }
        }
      },
      "AndroidFont": {
        "type": "string",
        "enum": [
          "poppins",
          "roboto",
          "montserrat",
          "work_sans",
          "nunito_sans",
          "bitter"
        ]
      },
      "AppUser": {
        "required": [
          "clientUserId",
          "id",
          "isOnboardingQuestionnaireCompleted"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientUserId": {
            "type": "string"
          },
          "isOnboardingQuestionnaireCompleted": {
            "type": "boolean"
          },
          "appStyle": {
            "$ref": "#/components/schemas/Style"
          }
        }
      },
      "Colors": {
        "title": "Colors",
        "required": [
          "accent",
          "background",
          "illustration",
          "illustrationOutline",
          "onAccent",
          "onBackground",
          "onPrimary",
          "primary"
        ],
        "type": "object",
        "properties": {
          "primary": {
            "type": "string"
          },
          "onPrimary": {
            "type": "string"
          },
          "background": {
            "type": "string"
          },
          "onBackground": {
            "type": "string"
          },
          "accent": {
            "type": "string"
          },
          "onAccent": {
            "type": "string"
          },
          "illustration": {
            "type": "string"
          },
          "illustrationOutline": {
            "type": "string"
          }
        },
        "description": "\n    CSS Hex Codes\n    The AA value (alpha) in #RRGGBBAA can range from the lowest value possible (00) to the highest value possible (FF)\n"
      },
      "IOSFont": {
        "type": "string",
        "enum": [
          "sf_pro",
          "helvetica_neue",
          "avenir_next",
          "apple_sd_gothic_neo",
          "georgia"
        ]
      },
      "Style": {
        "required": [
          "androidFont",
          "darkColors",
          "iosFont",
          "lightColors"
        ],
        "type": "object",
        "properties": {
          "darkColors": {
            "$ref": "#/components/schemas/Colors"
          },
          "lightColors": {
            "$ref": "#/components/schemas/Colors"
          },
          "iosFont": {
            "$ref": "#/components/schemas/IOSFont"
          },
          "androidFont": {
            "$ref": "#/components/schemas/AndroidFont"
          }
        }
      },
      "Topic": {
        "type": "string",
        "enum": [
          "physical_activity",
          "nutrition",
          "mental_wellbeing",
          "sleep"
        ]
      },
      "AppUserRecommendation": {
        "required": [
          "bookmarked",
          "headline",
          "id",
          "rating",
          "status",
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ContentId"
          },
          "type": {
            "$ref": "#/components/schemas/ContentType"
          },
          "rating": {
            "$ref": "#/components/schemas/Rating"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "bookmarked": {
            "type": "boolean"
          },
          "headline": {
            "type": "string"
          },
          "lead": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          }
        }
      },
      "Status": {
        "type": "string",
        "enum": [
          "no_interaction",
          "viewed"
        ]
      },
      "AppUserArticle": {
        "required": [
          "bookmarked",
          "headline",
          "id",
          "rating",
          "status"
        ],
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ContentId"
          },
          "rating": {
            "$ref": "#/components/schemas/Rating"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "bookmarked": {
            "type": "boolean"
          },
          "headline": {
            "type": "string"
          },
          "lead": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string"
          },
          "articleBodyHtml": {
            "type": "string"
          }
        }
      },
      "MultiChoiceAnswerOption": {
        "required": [
          "id",
          "text"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "text": {
            "type": "string"
          }
        }
      },
      "MultiChoiceQuestion": {
        "required": [
          "maxOptions",
          "minOptions",
          "options"
        ],
        "type": "object",
        "properties": {
          "maxOptions": {
            "type": "integer",
            "format": "int32"
          },
          "minOptions": {
            "type": "integer",
            "format": "int32"
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MultiChoiceAnswerOption"
            }
          }
        }
      },
      "NumericQuestion": {
        "required": [
          "format",
          "maxValue",
          "minValue"
        ],
        "type": "object",
        "properties": {
          "maxValue": {
            "type": "integer",
            "format": "int32"
          },
          "minValue": {
            "type": "integer",
            "format": "int32"
          },
          "format": {
            "type": "string",
            "enum": [
              "human_height",
              "human_weight",
              "integer",
              "decimal"
            ]
          }
        }
      },
      "Question": {
        "required": [
          "id",
          "index",
          "questionnaireId",
          "text",
          "type"
        ],
        "type": "object",
        "properties": {
          "questionnaireId": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "index": {
            "type": "integer",
            "format": "int32"
          },
          "text": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/QuestionAnswerType"
          },
          "multiChoice": {
            "$ref": "#/components/schemas/MultiChoiceQuestion"
          },
          "multiChoiceSelectedIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "numeric": {
            "$ref": "#/components/schemas/NumericQuestion"
          },
          "numericSelected": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "FeedSection": {
        "required": [
          "state",
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/FeedSectionType"
          },
          "state": {
            "$ref": "#/components/schemas/FeedSectionState"
          },
          "topic": {
            "$ref": "#/components/schemas/Topic"
          }
        }
      },
      "FeedSectionState": {
        "type": "string",
        "enum": [
          "lock",
          "unlock",
          "partially_unlock"
        ]
      },
      "FeedSectionType": {
        "type": "string",
        "enum": [
          "physical_activity_recommendations",
          "nutrition_recommendations",
          "mental_wellbeing_recommendations",
          "sleep_recommendations",
          "preferred_recommendations",
          "most_popular",
          "new_content",
          "physical_activity_explore",
          "nutrition_explore",
          "mental_wellbeing_explore",
          "sleep_explore",
          "starting_recommendations"
        ]
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "to_be_defined",
            "tokenUrl": "to_be_defined",
            "scopes": {}
          }
        }
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
